<header class=reservation_top_header>
<div class=reservation_top_space>
  <p class=company_name>ペンギン観光</p>
  <p class=reservation_top_menu><%= link_to "ログイン" , user_login_path %>
     <%= link_to "新規登録" , new_user_path %>
  </p>
</div>
</header>

<div>
</div>

<footer class=reservation_top_footer>
  <p class=company_name2>ペンギン観光</p>
  <p class=footer_copyright>Copyright © Pengin Tour Campany 2024 ALL rights reserved</p>
</footer>