.background_color_new{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px ;
    background-color: whitesmoke;
}
.user_new_title{
    text-align: center;
}
.user_new_form{
    margin-left: 5%;
}
.user_new_container{
    width: 40%;
    background-color: white;
    margin-left: 30%;
    padding: 10px;
}
.user_new_form{
    width: 90%;
    height: 25px;
    padding: 0%;
}