.reservation_top_header{
    width: 100%;
    background-color: rgb(120, 220, 210);
}
.reservation_top_space{
    display: flex;
    justify-content: space-between;
}
.reservation_top_menu{
    margin-right: 3%;
}
.reservation_top_footer{
    width: 100%;
    background-color: rgb(120, 220, 210);
}
.company_name2{
    margin-left: 2%;
    padding-top: 5px;
    font-size: 30px;
    color: white;
    margin-bottom: 0%;
}
.footer_copyright{
    margin-left: 2%;
    color: white;
    margin-top: 0%;
}