.background_color_login{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 300px ;
    background-color: whitesmoke;
}
.login_container{
    width: 40%;
    background-color: white;
    margin-left: 30%;
    padding: 10px;
}
.login_title{
    text-align: center;
    padding-top: 10px;
}
.form_p_login{
    margin-left: 5%;
}
.form_login{
    width: 90%;
    height: 25px;
    padding: 0%;
}
.login_button{
    text-align: center;
}
.create_account{
    text-align: center;
}